html,
body {
    height: 100%;
}

h1 {
    color: darkblue;
    font-size: 48px;
}

#b1,
#b2,
#b3,
#b4,
#b5,
#b6,
#b7,
#b8,
#b9 {
    width: 80px;
    height: 52px;
    margin: auto;
    border: 5px solid red;
    border-radius: 6px;
    font-size: 30px;
    text-align: center;
}

#but {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: indigo;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

#but:hover {
    background-color: rgb(132, 67, 179)
}

#but:active {
    background-color: blue;
    box-shadow: 0 5px skyblue;
    transform: translateY(4px);
}

#print {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: dodgerblue;
    font-size: 20px;
}

#main {
    text-align: center;
    background: linear-gradient(yellow, green, white);
    height: 100%;
}

#ins {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(1, 41, 1);
    font-size: 17px;
    font-weight: 600;
}